[core]
	editor = \"C:\\Users\\chuzi\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	name = Jesus lopez
	email = jesu0035@stud.kea.dk
	mail = jesu0035@stud.kea.dk
[gui]
	recentrepo = C:/Users/chuzi/Desktop/03-semester/tests
